// Specific CSS for your home-page


#lux-logo {
  font-size: 180px;
  font-family: 'Foldit', 'Lato', cursive;
  text-align: center;
  text-shadow: 4px 0px 0px #ffcc00;
  margin-top: -50px;
}

#open-text {
  font-size: 60px;
  text-align: center;
}

.marketing h2 {
  text-align: center !important;
  font-family: 'Roboto Flex', sans-serif !important;
  font-weight: 200 !important;
}

.marketing p {
  font-size: 30px;
  text-align: center;
}

.marketing-box {
  overflow: hidden;
  background: #111723;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

#cars-link {
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: 'Roboto Flex', sans-serif !important;
}

.btn-ghost {
  color: #ffffff;
  padding: 12px 40px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 1;
  transition: all 0.5s ease;
  font-size: 25px;
  box-shadow: 0 0 10px 0 rgba(147, 147, 147, 0.3);
}

.btn-ghost:hover {
  box-shadow: 0 0 10px 0 rgba(147, 147, 147, 0.8);
  opacity: 1;
}

#opening-text {
  font-size: 24px;
}


#opening-h1 {
  text-align: center;
  font-family: 'Roboto Flex', sans-serif !important;
  font-weight: 200 !important;
}

.marketing-section {
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.marketing-box {
  margin-bottom: 20px;
}

.col-md-4 h4{
  text-align: center;
  font-family: 'Roboto Flex', sans-serif !important;
  font-weight: 200 !important;
}
