<div class="row">
  <% cars.each do |car|%>
    <div class="col-12 col-lg-6">
      <%= link_to car_path(car), class: "text-dark text-decoration-none"  do %>
        <div id="car-card" class="card mb-5 mt-3 shadow-sm">
          <div class="card-body p-0">
            <%= cl_image_tag car.photo.key, class: "card-img-top" %>
            <div class="p-3 text-light">
              <div class="d-flex justify-content-between">
                <div>
                  <h5 class="card-title"><%= "#{car.brand} #{car.model} #{car.year.strftime("%Y")}" %></h5>
                  <p class="card-text mt-3"><%= car.description %></p>
                </div>
                <div>
                  <% if car.reviews != [] %>
                    <% (car.reviews.map(&:rating).sum / car.reviews.count).times do %>
                      <i class="fa-solid fa-star" style="color: #ffffff;"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
