<div class="mt-3">
   <div class="row justify-content-center">
     <div class="row col-12">
       <h1>LuxCar Rental 4 Lyfe</h1>
     </div>
     <div class="row col-12">
       <p>Welcome to our Luxury Car hire site where we realise your dreams of driving a car that's far too expensive around for a day and then giving it back and being charged far more than you initially planned</p>
     </div>
   </div>

  <div class="row justify-content-center">
    <div class="row col-12 justify-content-center">
      <a href="cars/#id" class="text-decoration-none">
        <h2 class="text-dark">All our LuxCars</h2>
      </a>
    </div>
  </div>
  <%= render 'car_card', cars: @cars %>
</div>
