.navbar-lewagon {
  justify-content: space-between;
  background: #111723;
  border-bottom: #686c72;
  padding-bottom: 0.1px;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  padding: auto;
}
#dropdown {
  background-color: #686c72;

}
.nav-item  {
  color: white;
}

.nav-link {
  color: white;
  padding-right: 5px;

  &:hover {
    color: white;
  }

  &:first-child:hover {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #ffffff;
  }

}

.navbar-lewagon .nav-link {
  padding-right: 2px;


}
.nav-link a:link {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px #ffffff;
}
